<html>
  <head>
    <title><%= siteName %> :: <%= siteTagline %></title>
    <link type="text/css" href="css/base.css">
    <link type="text/css" href="css/util.css">
  </head>
  <body>
    <header>
      <h1><%= siteName %></h1>
      <h3><%= siteTagline %></h3>
    </header>
