<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= data.siteName %> :: <%= data.siteTagline %></title>
    <% stylesheets.forEach((stylesheet) => { %>
      <link rel="stylesheet" href="<%= stylesheet %><% if (typeof req !== 'undefined' && req.query.flavor) { %>?flavor=<%= req.query.flavor %><% } %>">
    <% }); %>
  </head>
  <body class="p-2">
