<%- include('inc/head') %>
<main class="row">
  <article class="container">
    <section>
      <blockquote class="mt-5">
        <h3>Page Not Found</h3>
      </blockquote>
      <p><a title="Futility UI Home" href="/contents<%= ext %>">&larr; Back to Contents</a></p>
    </section>
  </article>
</main>
<%- include('inc/foot') %>
