<%- include('inc/head') %>
<main class="container">
  <section>
    <h1 class="text-xl1 mb-1">Image Cards</h1>
    <div class="d-grid col-gap-1 cols-3">
      <div class="card shadow p-1 pb-2">
        <h5 class="mb-1">Card with an image</h5>
        <img src="https://picsum.photos/200/200">
      </div>
      <div class="card shadow p-1 pb-2">
        <img src="https://picsum.photos/200/200">
      </div>
      <div class="card shadow p-1 pb-2">
        <img src="https://picsum.photos/200/200">
        <caption>Here is an image caption</caption>
      </div>
    </div>
    <p class="bump"><a title="Futility UI Home" href="/contents">&larr; Back to Contents</a></p>
  </section>
</main>
<%- include('inc/foot') %>
