<%- include('inc/head') %>
<main class="container">
  <section>
    <h1>Badges</h1>
    <table class="table-sm">
      <tbody>
        <tr>
          <th>Class</th>
          <th>No Link</th>
          <th>With Link</th>
        </tr>
        <tr>
          <td class="w-300px"><code>.tag</code></td>
          <td class="w-300px"><span class="tag">#foobar</span></td>
          <td class="w-300px"><span class="tag"><a href="#" title="#foobar">#foobar</a></span></td>
        </tr>
        <tr>
          <td class="w-300px"><code>.badge</code></td>
          <td class="w-300px"><span class="badge">#foobar</span></td>
          <td class="w-300px"><span class="badge"><a href="#" title="#foobar">#foobar</a></span></td>
        </tr>
        <tr>
          <td class="w-300px"><code>.badge-pill</code></td>
          <td class="w-300px"><span class="badge badge-pill">#foobar</span></td>
          <td class="w-300px"><span class="badge badge-pill"><a href="#" title="#foobar">#foobar</a></span></td>
        </tr>
      </tbody>
    </table>
  </section>
  <h6><a class="link-alt" title="Futility UI Contents" href="/contents<%= ext %>">&larr; Back to Contents</a></h6>
</main>
<%- include('inc/foot') %>
