<%- include('inc/head') %>
<main class="container">
  <section>
    <h1>Badges</h1>
    <table>
      <tbody>
        <tr>
          <td><span class="badge">Span</span></td>
          <td><a class="badge" href="#">Link</a></td>
          <td><span class="badge badge-pill">Span</span></td>
          <td><a class="badge badge-pill" href="#">Link</a></td>
        </tr>
        <tr>
          <td><h1><span class="badge">Span</span></h1></td>
          <td><h1><a class="badge" href="#">Link</a></h1></td>
          <td><h1><span class="badge badge-pill">Span</span></h1></td>
          <td><h1><a class="badge badge-pill" href="#">Link</a></h1></td>
        </tr>
        <tr>
          <td><h2><span class="badge">Span</span></h2></td>
          <td><h2><a class="badge" href="#">Link</a></h2></td>
          <td><h2><span class="badge badge-pill">Span</span></h2></td>
          <td><h2><a class="badge badge-pill" href="#">Link</a></h2></td>
        </tr>
        <tr>
          <td><h3><span class="badge">Span</span></h3></td>
          <td><h3><a class="badge" href="#">Link</a></h3></td>
          <td><h3><span class="badge badge-pill">Span</span></h3></td>
          <td><h3><a class="badge badge-pill" href="#">Link</a></h3></td>
        </tr>
        <tr>
          <td><h4><span class="badge">Span</span></h4></td>
          <td><h4><a class="badge" href="#">Link</a></h4></td>
          <td><h4><span class="badge badge-pill">Span</span></h4></td>
          <td><h4><a class="badge badge-pill" href="#">Link</a></h4></td>
        </tr>
        <tr>
          <td><h5><span class="badge">Span</span></h5></td>
          <td><h5><a class="badge" href="#">Link</a></h5></td>
          <td><h5><span class="badge badge-pill">Span</span></h5></td>
          <td><h5><a class="badge badge-pill" href="#">Link</a></h5></td>
        </tr>
        <tr>
          <td><h6><span class="badge">Span</span></h6></td>
          <td><h6><a class="badge" href="#">Link</a></h6></td>
          <td><h6><span class="badge badge-pill">Span</span></h6></td>
          <td><h6><a class="badge badge-pill" href="#">Link</a></h6></td>          
        </tr>
      </tbody>
    </table>
  </section>
  <h6><a class="link-alt" title="Futility UI Contents" href="/contents">&larr; Back to Contents</a></h6>
</main>
<%- include('inc/foot') %>
