<%- include('inc/head') %>
<main class="container">
  <section>
    <h1>Buttons</h1>
    <table>
      <thead>
        <tr>
          <th>Input</th>
          <th>Button</th>
          <th>Link</th>
          <th>Input Disabled</th>
          <th>Button Disabled</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><input class="btn-sm w-100 text-centers" type="submit" name="submit" value="Small"></td>
          <td><button class="btn-sm w-100 text-center">Small</button></td>
          <td><a href="#" class="btn btn-sm w-100 text-center">Small</a></td>
          <td><input class="btn-sm w-100 text-center" disabled="true" type="submit" name="submit" value="Small"></td>
          <td><button class="btn-sm w-100 text-center" disabled="true">Small</button></td>
        </tr>
        <tr>
          <td><input class="w-100 text-centers" type="submit" name="submit" value="Medium"></td>
          <td><button class="w-100 text-center">Medium</button></td>
          <td><a href="#" class="btn w-100 text-center">Medium</a></td>
          <td><input class="w-100 text-center" disabled="true" type="submit" name="submit" value="Medium"></td>
          <td><button class="w-100 text-center" disabled="true">Medium</button></td>
        </tr>
        <tr>
          <td><input class="btn-lg w-100 text-centers" type="submit" name="submit" value="Large"></td>
          <td><button class="btn-lg w-100 text-center">Large</button></td>
          <td><a href="#" class="btn btn-lg w-100 text-center">Large</a></td>
          <td><input class="btn-lg w-100 text-center" disabled="true" type="submit" name="submit" value="Large"></td>
          <td><button class="btn-lg w-100 text-center" disabled="true">Large</button></td>
        </tr>
        <tr>
          <td><input class="btn-outline btn-sm w-100 text-centers" type="submit" name="submit" value="Small"></td>
          <td><button class="btn-outline btn-sm w-100 text-center">Small</button></td>
          <td><a href="#" class="btn-outline btn btn-sm w-100 text-center">Small</a></td>
          <td><input class="btn-outline btn-sm w-100 text-center" disabled="true" type="submit" name="submit" value="Small"></td>
          <td><button class="btn-outline btn-sm w-100 text-center" disabled="true">Small</button></td>
        </tr>
        <tr>
          <td><input class="btn-outline w-100 text-centers" type="submit" name="submit" value="Medium"></td>
          <td><button class="btn-outline w-100 text-center">Medium</button></td>
          <td><a href="#" class="btn-outline btn w-100 text-center">Medium</a></td>
          <td><input class="btn-outline w-100 text-center" disabled="true" type="submit" name="submit" value="Medium"></td>
          <td><button class="btn-outline w-100 text-center" disabled="true">Medium</button></td>
        </tr>
        <tr>
          <td><input class="btn-outline btn-lg w-100 text-centers" type="submit" name="submit" value="Large"></td>
          <td><button class="btn-outline btn-lg w-100 text-center">Large</button></td>
          <td><a href="#" class="btn-outline btn btn-lg w-100 text-center">Large</a></td>
          <td><input class="btn-outline btn-lg w-100 text-center" disabled="true" type="submit" name="submit" value="Large"></td>
          <td><button class="btn-outline btn-lg w-100 text-center" disabled="true">Large</button></td>
        </tr>
        <tr>
          <td><input class="btn-clear btn-sm w-100 text-centers" type="submit" name="submit" value="Small"></td>
          <td><button class="btn-clear btn-sm w-100 text-center">Small</button></td>
          <td><a href="#" class="btn-clear btn btn-sm w-100 text-center">Small</a></td>
          <td><input class="btn-clear btn-sm w-100 text-center" disabled="true" type="submit" name="submit" value="Small"></td>
          <td><button class="btn-clear btn-sm w-100 text-center" disabled="true">Small</button></td>
        </tr>
        <tr>
          <td><input class="btn-clear w-100 text-centers" type="submit" name="submit" value="Medium"></td>
          <td><button class="btn-clear w-100 text-center">Medium</button></td>
          <td><a href="#" class="btn-clear btn w-100 text-center">Medium</a></td>
          <td><input class="btn-clear w-100 text-center" disabled="true" type="submit" name="submit" value="Medium"></td>
          <td><button class="btn-clear w-100 text-center" disabled="true">Medium</button></td>
        </tr>
        <tr>
          <td><input class="btn-clear btn-lg w-100 text-centers" type="submit" name="submit" value="Large"></td>
          <td><button class="btn-clear btn-lg w-100 text-center">Large</button></td>
          <td><a href="#" class="btn-clear btn btn-lg w-100 text-center">Large</a></td>
          <td><input class="btn-clear btn-lg w-100 text-center" disabled="true" type="submit" name="submit" value="Large"></td>
          <td><button class="btn-clear btn-lg w-100 text-center" disabled="true">Large</button></td>
        </tr>
      </tbody>
    </table>
  </section>
  <p class="mt-4 text-sm"><a class="link-alt" title="Futility UI Contents" href="/contents">&larr; Back to Contents</a></p>
</main>
<%- include('inc/foot') %>
