<%- include('inc/head') %>
<main class="container">
  <section>
    <h1>Futility Button Styles</h1>
    <table>
      <thead>
        <th>Input</th>
        <th>Button</th>
        <th>Link</th>
        <th>Disabled</th>
      </thead>
      <tbody>
        <td><input type="submit" name="submit" value="Default Input"></td>
        <td><button>Default Button</button></td>
        <td><a href="#" class="btn">Default Link</a></td>
        <td><input disabled="true" type="submit" name="submit" value="Default Disabled"></td>
      </tbody>
      <tbody>
        <td><input class="bg-success d-block w-100 text-centers" type="submit" name="submit" value="Success Input"></td>
        <td><button class="bg-success d-block w-100 text-center">Success Button</button></td>
        <td><a href="#" class="btn bg-success d-block w-100 text-center">Success Link</a></td>
        <td><input class="bg-success d-block w-100 text-center" disabled="true" type="submit" name="submit" value="Success Disabled"></td>
      </tbody>
      <tbody>
        <td><input class="bg-danger d-block w-100 text-center" type="submit" name="submit" value="Danger Input"></td>
        <td><button class="bg-danger d-block w-100 text-center">Danger Button</button></td>
        <td><a href="#" class="btn bg-danger d-block w-100 text-center">Danger Link</a></td>
        <td><input class="bg-danger d-block w-100 text-center" disabled="true" type="submit" name="submit" value="Danger Disabled"></td>
      </tbody>
      <tbody>
        <td><input class="bg-warning d-block w-100 text-center" type="submit" name="submit" value="Warning Input"></td>
        <td><button class="bg-warning d-block w-100 text-center">Warning Button</button></td>
        <td><a href="#" class="btn bg-warning d-block w-100 text-center">Warning Link</a></td>
        <td><input class="bg-warning d-block w-100 text-center" disabled="true" type="submit" name="submit" value="Warning Disabled"></td>
      </tbody>
      <tbody>
        <td><input class="bg-info d-block w-100 text-center" type="submit" name="submit" value="Info Input"></td>
        <td><button class="bg-info d-block w-100 text-center">Info Button</button></td>
        <td><a href="#" class="btn bg-info d-block w-100 text-center">Info Link</a></td>
        <td><input class="bg-info d-block w-100 text-center" disabled="true" type="submit" name="submit" value="Info Disabled"></td>
      </tbody>
    </table>
    <p class="mt-4"><a title="Futility UI Home" href="/contents">&larr; Back to Contents</a></p>
  </section>
</main>
<%- include('inc/foot') %>
