<%- include('inc/head') %>
<main class="container">
  <section>
    <h1 class="text-xl1 mb-1">Cards</h1>
    <div class="card">
      <p class="mb-2">Normal .card, lorem ipsum dolor sit amet, <a href="#">consectetur adipiscing elit</a>. In consequat vel est vitae hendrerit. Cras tortor libero, hendrerit ut vestibulum eu, hendrerit pretium nibh.</p>
    </div>
    <div class="card">
      <h4 class="mb-1">Here is a card title</h4>
      <p class="mb-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In <a href="#">consequat vel est</a> vitae hendrerit. Cras tortor libero, hendrerit ut vestibulum eu, hendrerit pretium nibh.</p>
    </div>
    <div class="card shadow p-1 pb-2">
      <h5 class="mb-1">Card with an image</h5>
      <img src="https://picsum.photos/200/200">
    </div>
    <div class="card shadow p-1 pb-2">
      <img src="https://picsum.photos/200/200">
    </div>
    <div class="card shadow p-1 pb-2">
      <img src="https://picsum.photos/200/200">
      <caption>Here is an image caption</caption>
    </div>
    <p class="mt-4"><a title="Futility UI Home" href="/contents">&larr; Back to Contents</a></p>
  </section>
</main>
<%- include('inc/foot') %>
