<%- include('inc/head') %>
<main class="d-flex">
  <div class="col-1 w-25">Foo
  </div>
  <div class="col-2 w-25">Bar
  </div>
  <div class="col-3 w-50 panel">Baz
  </div>
</main>
<%- include('inc/foot') %>
