<%- include('inc/head') %>
<main class="container">
  <section>
    <h1>Headings</h1>
    <h3>Normal Headings</h3>
    <h1>The quick brown fox jumps over the lazy dog, while the quick brown fox jumps over the lazy dog</h1>
    <h2>The quick brown fox jumps over the lazy dog, while the quick brown fox jumps over the lazy dog</h2>
    <h3>The quick brown fox jumps over the lazy dog, while the quick brown fox jumps over the lazy dog</h3>
    <h4>The quick brown fox jumps over the lazy dog, while the quick brown fox jumps over the lazy dog and the quick brown fox jumps over the lazy dog</h4>
    <h5>The quick brown fox jumps over the lazy dog, while the quick brown fox jumps over the lazy dog and the quick brown fox jumps over the lazy dog while the quick brown fox jumps over the lazy dog</h5>
    <h6>The quick brown fox jumps over the lazy dog, while the quick brown fox jumps over the lazy dog and the quick brown fox jumps over the lazy dog while the quick brown fox jumps over the lazy dog</h6>
  </section>
  <section>
    <h3>Linked Headings</h3>
    <h1><a href="#">The quick brown fox jumps over the lazy dog, while the quick brown fox jumps over the lazy dog</a></h1>
    <h2><a href="#">The quick brown fox jumps over the lazy dog, while the quick brown fox jumps over the lazy dog</a></h2>
    <h3><a href="#">The quick brown fox jumps over the lazy dog, while the quick brown fox jumps over the lazy dog</a></h3>
    <h4><a href="#">The quick brown fox jumps over the lazy dog, while the quick brown fox jumps over the lazy dog and the quick brown fox jumps over the lazy dog</a></h4>
    <h5><a href="#">The quick brown fox jumps over the lazy dog, while the quick brown fox jumps over the lazy dog and the quick brown fox jumps over the lazy dog while the quick brown fox jumps over the lazy dog</a></h5>
    <h6><a href="#">The quick brown fox jumps over the lazy dog, while the quick brown fox jumps over the lazy dog and the quick brown fox jumps over the lazy dog while the quick brown fox jumps over the lazy dog</a></h6>
  </section>
  <h6><a class="link-alt" title="Futility UI Home" href="/contents">&larr; Back to Contents</a></h6>
</main>
<%- include('inc/foot') %>
