<%- include('inc/head') %>
<main class="container">
  <section>
    <h1 class="mb-1">Futility UI</h1>
    <h4 class="text-normal text-xs text-yellow">The Simple Web Framework</h4>
    <blockquote class="border-blue">
      <p class="text-base">Futility UI is a lightweight toolkit for practical web development, usable as a website boilerplate, design styleguide, drop-in utility package - or more.</p>
    </blockquote>
  </section>
  <section>
    <p>The Futility system consists of these main parts:</p>
    <ul>
      <li><strong>CSS Framework</strong> &mdash; A minimalist, utility-based CSS schema, inspired by Bootstrap 4 and Tailwind.</li>
      <li><strong>Template Collection</strong> &mdash; Helpful starter pages showcasing typical web layouts, in HTML and EJS.</li>
      <li><strong>Dev Server</strong> &mdash; Live reloading Express.js server for previewing your custom Futility site.</li>
      <li><strong>Build Script</strong> &mdash; Bash-based static site generator for rendering your custom Futility site.</li>
    </ul>
    <p>Putting this all together, #FUI is intended for any project seeking to craft robust, bespoke design system. In fact, this page itself is built with Futility!</p>
    <p><a href="/contents">Explore more templates here &rarr;</a></p>
    <p>Or get started customizing Futility yourself:</p>
    <p>
      <a class="btn bg-blue" href="#">Download</a>
      <a class="btn bg-green" href="#">Documentation</a>
    </p>
  </section>
  <section>
    <p class="text-gray"><i class="fa-solid fa-triangle-exclamation"></i> <small class="text-xs"><em>Thanks for visiting, always under construction!</em></small></p>
  </section>
</main>
<%- include('inc/foot') %>
