<%- include('inc/head') %>
<main class="container">
  <section>
    <h1>Lists</h1>
    <h4>Square</h4>
    <ul class="list-style-square">
      <li>The quick brown fox jumps over the lazy dog</li>
      <li>The quick brown fox jumps over the lazy dog, while the quick brown fox jumps over the lazy dog, and the quick brown fox jumps over the lazy dog.</li>
      <li>The quick brown fox jumps over the lazy dog</li>
    </ul>
    <h4>Disc</h4>
    <ul class="list-style-disc">
      <li>The quick brown fox jumps over the lazy dog</li>
      <li>The quick brown fox jumps over the lazy dog, while the quick brown fox jumps over the lazy dog, and the quick brown fox jumps over the lazy dog.</li>
      <li>The quick brown fox jumps over the lazy dog</li>
    </ul>
    <h4>Circle</h4>
    <ul class="list-style-circle">
      <li>The quick brown fox jumps over the lazy dog</li>
      <li>The quick brown fox jumps over the lazy dog, while the quick brown fox jumps over the lazy dog, and the quick brown fox jumps over the lazy dog.</li>
      <li>The quick brown fox jumps over the lazy dog</li>
    </ul>
    <h4>Decimal</h4>
    <ul class="list-style-decimal">
      <li>The quick brown fox jumps over the lazy dog</li>
      <li>The quick brown fox jumps over the lazy dog, while the quick brown fox jumps over the lazy dog, and the quick brown fox jumps over the lazy dog.</li>
      <li>The quick brown fox jumps over the lazy dog</li>
    </ul>
    <h4>None</h4>
    <ul class="list-style-none">
      <li>The quick brown fox jumps over the lazy dog</li>
      <li>The quick brown fox jumps over the lazy dog, while the quick brown fox jumps over the lazy dog, and the quick brown fox jumps over the lazy dog.</li>
      <li>The quick brown fox jumps over the lazy dog</li>
    </ul>
  </section>
  <section>
    <h4>Nested UL</h4>
    <ul>
      <li><div class="mb-2">The quick brown fox jumps over the lazy dog</div>
        <ul>
          <li>The quick brown fox jumps over the lazy dog</li>
          <li>The quick brown fox jumps over the lazy dog, while the quick brown fox jumps over the lazy dog, and the quick brown fox jumps over the lazy dog.</li>
          <li>The quick brown fox jumps over the lazy dog</li>
        </ul>
      </li>
      <li>The quick brown fox jumps over the lazy dog</li>
    </ul>
    <h4>Nested OL</h4>
    <ol>
      <li><div class="mb-2">The quick brown fox jumps over the lazy dog</div>
        <ol type="a">
          <li>The quick brown fox jumps over the lazy dog</li>
          <li>The quick brown fox jumps over the lazy dog, while the quick brown fox jumps over the lazy dog, and the quick brown fox jumps over the lazy dog.</li>
          <li>The quick brown fox jumps over the lazy dog</li>
        </ol>
      </li>
      <li>The quick brown fox jumps over the lazy dog</li>
    </ol>
  </section>
  <h6><a class="link-alt" title="Futility UI Home" href="/contents">&larr; Back to Contents</a></h6>
</main>
<%- include('inc/foot') %>
