<%- include('inc/head') %>
<main class="container">
  <section>
    <h1 class="text-xl1 mb-1">Panels</h1>
    <div class="panel">
      <p class="mb-2">A normal .panel, including <a href="#">a hyperlink</a>.</p>
    </div>
  </section>
  <h6><a class="link-alt" title="Futility UI Contents" href="/contents<%= ext %>">&larr; Back to Contents</a></h6>
</main>
<%- include('inc/foot') %>
