<%- include('inc/head') %>
<main class="container">
  <section>
    <h1 class="text-xl1 mb-1">Panels</h1>
    <div class="panel">
      <p class="mb-2">A normal .panel</p>
    </div>
    <div class="panel success">
      <p class="mb-2">A .panel with .success style</p>
    </div>
    <div class="panel danger">
      <p class="mb-2">A .panel with .danger style</p>
    </div>
    <div class="panel warning">
      <p class="mb-2">A .panel with .warning style</p>
    </div>
    <div class="panel info">
      <p class="mb-2">A .panel with .info style</p>
    </div>
    <p><a title="Futility UI Home" href="/contents">&larr; Back to Contents</a></p>
  </section>
</main>
<%- include('inc/foot') %>
