<%- include('inc/head') %>
<main class="container">
  <section>
    <h1 class="text-xl1 mb-1">Panels</h1>
    <div class="panel">
      <p class="mb-2">A normal .panel, including <a href="#">a hyperlink</a>.</p>
    </div>
    <p class="mt-4 text-sm"><a class="link-alt" title="Futility UI Contents" href="/contents">&larr; Back to Contents</a></p>
  </section>
</main>
<%- include('inc/foot') %>
