<%- include('inc/head') %>
<main class="container">
  <section>
    <h1 class="text-xl1 mb-1">Quotes</h1>
    <blockquote>
      <p class="mb-2">A normal blockquote</p>
    </blockquote>
    <% for (const styleset_slug in stylesets) { -%>
      <blockquote class="border-<%= styleset_slug %>">
        <p class="mb-2">A blockquote with .border-<%= styleset_slug %>, with <a href="#">a hyperlink</a></p>
      </blockquote>
    <% } %>
</main>
<%- include('inc/foot') %>
