<%- include('inc/head') %>
<main class="row">
  <article class="container">
    <section>
      <h1>Blockquotes</h1>
    </section>
  </article>
  <h6><a class="link-alt" title="Futility UI Contents" href="/contents">&larr; Back to Contents</a></h6>
</main>
<%- include('inc/foot') %>
