<%- include('inc/header') %>
<main class="row">
  <article class="container">
    <section>
      <h1>Blockquotes</h1>
    </section>
    <p class="mt-4"><a title="Futility UI Contents" href="/contents">&larr; Back to Contents</a></p>
  </article>
</main>
<%- include('inc/footer') %>
