<%- include('inc/head') %>
<main class="container">
  <section>
    <h1>Styled Panels</h1>
    <% for (const styleset_slug in stylesets) { -%>
      <div class="panel <%= styleset_slug %>">
        <p class="mb-2">A .panel with .<%= styleset_slug %>, including <a href="#">a hyperlink</a>.</p>
      </div>
    <% } %>
  </section>
  <p class="mt-4"><a title="Futility UI Contents" href="/contents">&larr; Back to Contents</a></p>
</main>
<%- include('inc/foot') %>
