<%- include('inc/head') %>
<main class="container">
  <section>
    <h1 class="text-xl1 mb-1">Styled Cards</h1>
    <% for (const styleset_slug in stylesets) { -%>
      <div class="card <%= styleset_slug %>">
        <p class="mb-2">Card with .<%= styleset_slug %> styleset, lorem ipsum dolor sit amet, <a href="#">and here is a hyperlink</a>. In consequat vel est vitae hendrerit. Cras tortor libero, hendrerit ut vestibulum eu, hendrerit pretium nibh.</p>
      </div>
    <% } %>
    <p class="mt-4"><a title="Futility UI Home" href="/contents">&larr; Back to Contents</a></p>
  </section>
</main>
<%- include('inc/foot') %>
