<%- include('inc/head') %>
<main class="container">
  <section>
    <h1>Styled Panels</h1>    
  </section>
  <p class="mt-4"><a title="Futility UI Home" href="/contents">&larr; Back to Contents</a></p>
</main>
<%- include('inc/foot') %>
