<%- include('inc/head') %>
<main class="row">
  <article class="container">
    <section>
      <h1>Table Examples</h1>
      <h3>Table w/ Highlight</h3>
      <table>
        <thead>
          <tr>
            <th>Mon</th>
            <th>Tue</th>
            <th>Wed</th>
            <th>Thu</th>
            <th>Fri</th>
            <th>Sat</th>
            <th>Sun</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Red</td>
            <td>Orange</td>
            <td>Yellow</td>
            <td>Green</td>
            <td>Blue</td>
            <td>Indigo</td>
            <td>Violet</td>
          </tr>
          <tr>
            <td>Red</td>
            <td>Orange</td>
            <td>Yellow</td>
            <td>Green</td>
            <td>Blue</td>
            <td>Indigo</td>
            <td>Violet</td>
          </tr>
          <tr class="bg-canary">
            <td>Red</td>
            <td>Orange</td>
            <td>Yellow</td>
            <td>Green</td>
            <td>Blue</td>
            <td>Indigo</td>
            <td>Violet</td>
          </tr>
          <tr>
            <td>Red</td>
            <td>Orange</td>
            <td>Yellow</td>
            <td>Green</td>
            <td>Blue</td>
            <td>Indigo</td>
            <td>Violet</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td>01</td>
            <td>02</td>
            <td>03</td>
            <td>04</td>
            <td>05</td>
            <td>06</td>
            <td>07</td>
          </tr>
        </tfoot>
      </table>
    </section>
    <section>
      <h3>Compact Table w/ Hover</h3>
      <table class="table-sm table-hover">
        <thead>
          <tr>
            <th>Mon</th>
            <th>Tue</th>
            <th>Wed</th>
            <th>Thu</th>
            <th>Fri</th>
            <th>Sat</th>
            <th>Sun</th>
          </tr>
        </thead>
        <tbody class="text-sm">
          <tr>
            <td>Red</td>
            <td>Orange</td>
            <td>Yellow</td>
            <td>Green</td>
            <td>Blue</td>
            <td>Indigo</td>
            <td>Violet</td>
          </tr>
          <tr>
            <td>Red</td>
            <td>Orange</td>
            <td>Yellow</td>
            <td>Green</td>
            <td>Blue</td>
            <td>Indigo</td>
            <td>Violet</td>
          </tr>
          <tr>
            <td>Red</td>
            <td>Orange</td>
            <td>Yellow</td>
            <td>Green</td>
            <td>Blue</td>
            <td>Indigo</td>
            <td>Violet</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td>01</td>
            <td>02</td>
            <td>03</td>
            <td>04</td>
            <td>05</td>
            <td>06</td>
            <td>07</td>
          </tr>
        </tfoot>
      </table>
    </section>
    <section>
      <h3>Table w/ Stripes</h3>
      <table class="table-sm table-striped">
        <thead>
          <tr>
            <th>Mon</th>
            <th>Tue</th>
            <th>Wed</th>
            <th>Thu</th>
            <th>Fri</th>
            <th>Sat</th>
            <th>Sun</th>
          </tr>
        </thead>
        <tbody class="text-sm">
          <tr>
            <td>Red</td>
            <td>Orange</td>
            <td>Yellow</td>
            <td>Green</td>
            <td>Blue</td>
            <td>Indigo</td>
            <td>Violet</td>
          </tr>
          <tr>
            <td>Red</td>
            <td>Orange</td>
            <td>Yellow</td>
            <td>Green</td>
            <td>Blue</td>
            <td>Indigo</td>
            <td>Violet</td>
          </tr>
          <tr>
            <td>Red</td>
            <td>Orange</td>
            <td>Yellow</td>
            <td>Green</td>
            <td>Blue</td>
            <td>Indigo</td>
            <td>Violet</td>
          </tr>
          <tr>
            <td>Red</td>
            <td>Orange</td>
            <td>Yellow</td>
            <td>Green</td>
            <td>Blue</td>
            <td>Indigo</td>
            <td>Violet</td>
          </tr>
          <tr>
            <td>Red</td>
            <td>Orange</td>
            <td>Yellow</td>
            <td>Green</td>
            <td>Blue</td>
            <td>Indigo</td>
            <td>Violet</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td>01</td>
            <td>02</td>
            <td>03</td>
            <td>04</td>
            <td>05</td>
            <td>06</td>
            <td>07</td>
          </tr>
        </tfoot>
      </table>
    </section>
    <section>
      <h3>Table w/ Vertical Headers</h3>
      <table class="table-sm text-sm">
        <tbody>
          <tr>
            <th class="border-right border-3 border-solid" style="border-bottom:1px solid black !important">Mon</th>
            <td>01</td>
            <td>02</td>
            <td>03</td>
            <td>04</td>
          </tr>
          <tr>
            <th class="border-right border-3 border-solid" style="border-bottom:1px solid black !important">Tue</th>
            <td>01</td>
            <td>02</td>
            <td>03</td>
            <td>04</td>
          </tr>
          <tr>
            <th class="border-right border-3 border-solid" style="border-bottom:1px solid black !important">Wed</th>
            <td>01</td>
            <td>02</td>
            <td>03</td>
            <td>04</td>
          </tr>
          <tr>
            <th class="border-right border-3 border-solid" style="border-bottom:1px solid black !important">Thu</th>
            <td>01</td>
            <td>02</td>
            <td>03</td>
            <td>04</td>
          </tr>
          <tr>
            <th class="border-right border-3 border-solid">Fri</th>
            <td>01</td>
            <td>02</td>
            <td>03</td>
            <td>04</td>
          </tr>
        </tbody>
      </table>
    </section>
    <section>
      <h3>Table w/ No Border</h3>
      <table class="table-borderless">
        <thead>
          <tr>
            <th>Mon</th>
            <th>Tue</th>
            <th>Wed</th>
            <th>Thu</th>
            <th>Fri</th>
            <th>Sat</th>
            <th>Sun</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Red</td>
            <td>Orange</td>
            <td>Yellow</td>
            <td>Green</td>
            <td>Blue</td>
            <td>Indigo</td>
            <td>Violet</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td>01</td>
            <td>02</td>
            <td>03</td>
            <td>04</td>
            <td>05</td>
            <td>06</td>
            <td>07</td>
          </tr>
        </tfoot>
      </table>
    </section>
    <p class="mt-4"><a title="Futility UI Home" href="/contents">&larr; Back to Contents</a></p>
  </article>
</main>
<%- include('inc/foot') %>
