<%- include('inc/head') %>
<main class="container">
  <section>
    <h1>h1 The quick brown fox jumps over the lazy dog, while the quick brown fox jumps over the lazy dog</h1>
    <h2>h2 The quick brown fox jumps over the lazy dog, while the quick brown fox jumps over the lazy dog</h2>
    <h3>h3 The quick brown fox jumps over the lazy dog, while the quick brown fox jumps over the lazy dog</h3>
    <h4>h4 The quick brown fox jumps over the lazy dog, while the quick brown fox jumps over the lazy dog and the quick brown fox jumps over the lazy dog</h4>
    <h5>h5 The quick brown fox jumps over the lazy dog, while the quick brown fox jumps over the lazy dog and the quick brown fox jumps over the lazy dog while the quick brown fox jumps over the lazy dog</h5>
    <h6>h6 The quick brown fox jumps over the lazy dog, while the quick brown fox jumps over the lazy dog and the quick brown fox jumps over the lazy dog while the quick brown fox jumps over the lazy dog</h6>
  </section>
  <section>
    <% for (const size_suffix in styles.textSizes) { -%>
      <p class="text-<%= size_suffix %>">.text-<%= size_suffix %> The quick brown fox jumps over the lazy dog, while the quick brown fox jumps over the lazy dog</p>
    <% } %>
  </section>
  <section>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu nisi at diam consectetur mattis. In venenatis nisl sed porttitor interdum. Nulla dictum ultrices mattis. Praesent elementum lobortis maximus. Vestibulum nec dictum massa. Fusce ornare porta nisl ac finibus. Aenean vehicula ut arcu at posuere. Aliquam sit amet eros ultrices, blandit eros efficitur, rhoncus nibh. Integer ante orci, rhoncus nec iaculis non, vestibulum nec odio. Sed venenatis iaculis viverra.</p>
    <ul>
      <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu nisi at diam consectetur mattis. In venenatis nisl sed porttitor interdum. Nulla dictum ultrices mattis. Praesent elementum lobortis maximus. Vestibulum nec dictum massa. Fusce ornare porta nisl ac finibus. Aenean vehicula ut arcu at posuere. Aliquam sit amet eros ultrices.</li>
      <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu nisi at diam consectetur mattis. In venenatis nisl sed porttitor interdum. Nulla dictum ultrices mattis. Praesent elementum lobortis maximus. Vestibulum nec dictum massa. Fusce ornare porta nisl ac finibus. Aenean vehicula ut arcu at posuere. Aliquam sit amet eros ultrices.</li>
    </ul>
    <ol>
      <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu nisi at diam consectetur mattis. In venenatis nisl sed porttitor interdum. Nulla dictum ultrices mattis. Praesent elementum lobortis maximus. Vestibulum nec dictum massa. Fusce ornare porta nisl ac finibus. Aenean vehicula ut arcu at posuere. Aliquam sit amet eros ultrices.</li>
      <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu nisi at diam consectetur mattis. In venenatis nisl sed porttitor interdum. Nulla dictum ultrices mattis. Praesent elementum lobortis maximus. Vestibulum nec dictum massa. Fusce ornare porta nisl ac finibus. Aenean vehicula ut arcu at posuere. Aliquam sit amet eros ultrices.</li>
    </ol>
  </section>
  <section>
    <blockquote>
      <p  class="text-xs">Blockquote paragraph Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu nisi at diam consectetur mattis. In venenatis nisl sed porttitor interdum. Nulla dictum ultrices mattis. Praesent elementum lobortis maximus. Vestibulum nec dictum massa. Fusce ornare porta nisl ac finibus. Aenean vehicula ut arcu at posuere. Aliquam sit amet eros ultrices, blandit eros efficitur, rhoncus nibh. Integer ante orci, rhoncus nec iaculis non, vestibulum nec odio. Sed venenatis iaculis viverra.</p>
    </blockquote>
  </section>
  <section>
    <p><img class="float-left" src="https://picsum.photos/200/200"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu nisi at diam consectetur mattis. In venenatis nisl sed porttitor interdum. Nulla dictum ultrices mattis. Praesent elementum lobortis maximus. Vestibulum nec dictum massa. Fusce ornare porta nisl ac finibus. Aenean vehicula ut arcu at posuere. Aliquam sit amet eros ultrices, blandit eros efficitur, rhoncus nibh. Integer ante orci, rhoncus nec iaculis non, vestibulum nec odio. Sed venenatis iaculis viverra.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu nisi at diam consectetur mattis. In venenatis nisl sed porttitor interdum. Nulla dictum ultrices mattis. Praesent elementum lobortis maximus. Vestibulum nec dictum massa. Fusce ornare porta nisl ac finibus. Aenean vehicula ut arcu at posuere. Aliquam sit amet eros ultrices, blandit eros efficitur, rhoncus nibh. Integer ante orci, rhoncus nec iaculis non, vestibulum nec odio. Sed venenatis iaculis viverra.</p>
    <p><img class="float-right" src="https://picsum.photos/200/300"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu nisi at diam consectetur mattis. In venenatis nisl sed porttitor interdum. Nulla dictum ultrices mattis. Praesent elementum lobortis maximus. Vestibulum nec dictum massa. Fusce ornare porta nisl ac finibus. Aenean vehicula ut arcu at posuere. Aliquam sit amet eros ultrices, blandit eros efficitur, rhoncus nibh. Integer ante orci, rhoncus nec iaculis non, vestibulum nec odio. Sed venenatis iaculis viverra.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu nisi at diam consectetur mattis. In venenatis nisl sed porttitor interdum. Nulla dictum ultrices mattis. Praesent elementum lobortis maximus. Vestibulum nec dictum massa. Fusce ornare porta nisl ac finibus. Aenean vehicula ut arcu at posuere. Aliquam sit amet eros ultrices, blandit eros efficitur, rhoncus nibh. Integer ante orci, rhoncus nec iaculis non, vestibulum nec odio. Sed venenatis iaculis viverra.</p>
    <p><img class="centered" src="https://picsum.photos/300/200"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu nisi at diam consectetur mattis. In venenatis nisl sed porttitor interdum. Nulla dictum ultrices mattis. Praesent elementum lobortis maximus. Vestibulum nec dictum massa. Fusce ornare porta nisl ac finibus. Aenean vehicula ut arcu at posuere. Aliquam sit amet eros ultrices, blandit eros efficitur, rhoncus nibh. Integer ante orci, rhoncus nec iaculis non, vestibulum nec odio. Sed venenatis iaculis viverra.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu nisi at diam consectetur mattis. In venenatis nisl sed porttitor interdum. Nulla dictum ultrices mattis. Praesent elementum lobortis maximus. Vestibulum nec dictum massa. Fusce ornare porta nisl ac finibus. Aenean vehicula ut arcu at posuere. Aliquam sit amet eros ultrices, blandit eros efficitur, rhoncus nibh. Integer ante orci, rhoncus nec iaculis non, vestibulum nec odio. Sed venenatis iaculis viverra.</p>
  </section>
  <section>
    <fieldset>
      <button>Default Button Element</button>
      <button>Button Element with .btn-secondary</button>
      <a href="#" class="btn-primary">Link with .btn-primary</a>
      <a href="#" class="btn-secondary">Link with .btn-secondary</a>
    </fieldset>
  </section>
</main>
<%- include('inc/foot') %>
