<%- include('inc/head') %>
<main class="container">
  <section>
    <h1>Typography Elements</h1>
    <h3>Headings</h3>
    <h2>The quick brown fox jumps over the lazy dog, while the quick brown fox jumps over the lazy dog</h2>
    <h3>The quick brown fox jumps over the lazy dog, while the quick brown fox jumps over the lazy dog</h3>
    <h4>The quick brown fox jumps over the lazy dog, while the quick brown fox jumps over the lazy dog and the quick brown fox jumps over the lazy dog</h4>
    <h5>The quick brown fox jumps over the lazy dog, while the quick brown fox jumps over the lazy dog and the quick brown fox jumps over the lazy dog while the quick brown fox jumps over the lazy dog</h5>
    <h6>The quick brown fox jumps over the lazy dog, while the quick brown fox jumps over the lazy dog and the quick brown fox jumps over the lazy dog while the quick brown fox jumps over the lazy dog</h6>
  </section>
  <section>
    <h3>Lists</h3>
    <ul>
      <li>The quick brown fox jumps over the lazy dog</li>
      <li>The quick brown fox jumps over the lazy dog</li>
      <li>The quick brown fox jumps over the lazy dog</li>
    </ul>
    <ol>
      <li>The quick brown fox jumps over the lazy dog</li>
      <li>The quick brown fox jumps over the lazy dog</li>
      <li>The quick brown fox jumps over the lazy dog</li>
    </ol>
  </section>
  <section>
    <h3>Blockquote</h3>
    <blockquote>Blockquote paragraph Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu nisi at diam consectetur mattis.</blockquote>
  </section>
  <section>
    <h3>Misc Elements</h3>
    <table>
      <thead>
        <tr>
            <th>Element</th>
            <th>Example</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="code">abbr</td>
          <td><abbr>The quick brown fox jumps over the lazy dog</abbr></td>
        </tr>
        <tr>
          <td class="code">em</td>
          <td><em>The quick brown fox jumps over the lazy dog</em></td>
        </tr>
        <tr>
          <td class="code">mark</td>
          <td><mark>The quick brown fox jumps over the lazy dog</mark></td>
        </tr>
        <tr>
          <td class="code">strong</td>
          <td><strong>The quick brown fox jumps over the lazy dog</strong></td>
        </tr>
        <tr>
          <td class="code">sub</td>
          <td>Normal text<sup>sub</sup></td>
        </tr>
        <tr>
          <td class="code">sup</td>
          <td>Normal text<sup>sup</sup></td>
        </tr>
      </tbody>
    </table>
  </section>
  <h6><a class="link-alt" title="Futility UI Home" href="/contents">&larr; Back to Contents</a></h6>
</main>
<%- include('inc/foot') %>
