<%- include('inc/head') %>
<main class="container">
  <section>
    <h1>h1 The quick brown fox jumps over the lazy dog, while the quick brown fox jumps over the lazy dog</h1>
    <h2>h2 The quick brown fox jumps over the lazy dog, while the quick brown fox jumps over the lazy dog</h2>
    <h3>h3 The quick brown fox jumps over the lazy dog, while the quick brown fox jumps over the lazy dog</h3>
    <h4>h4 The quick brown fox jumps over the lazy dog, while the quick brown fox jumps over the lazy dog and the quick brown fox jumps over the lazy dog</h4>
    <h5>h5 The quick brown fox jumps over the lazy dog, while the quick brown fox jumps over the lazy dog and the quick brown fox jumps over the lazy dog while the quick brown fox jumps over the lazy dog</h5>
    <h6>h6 The quick brown fox jumps over the lazy dog, while the quick brown fox jumps over the lazy dog and the quick brown fox jumps over the lazy dog while the quick brown fox jumps over the lazy dog</h6>
  </section>
  <section>
    <ul>
      <li>The quick brown fox jumps over the lazy dog</li>
      <li>The quick brown fox jumps over the lazy dog</li>
      <li>The quick brown fox jumps over the lazy dog</li>
    </ul>
    <ol>
      <li>The quick brown fox jumps over the lazy dog</li>
      <li>The quick brown fox jumps over the lazy dog</li>
      <li>The quick brown fox jumps over the lazy dog</li>
    </ol>
  </section>
  <section>
    <blockquote>
      <p>Blockquote paragraph Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu nisi at diam consectetur mattis. In venenatis nisl sed porttitor interdum. Nulla dictum ultrices mattis. Praesent elementum lobortis maximus. Vestibulum nec dictum massa. Fusce ornare porta nisl ac finibus. Aenean vehicula ut arcu at posuere. Aliquam sit amet eros ultrices, blandit eros efficitur, rhoncus nibh. Integer ante orci, rhoncus nec iaculis non, vestibulum nec odio. Sed venenatis iaculis viverra.</p>
    </blockquote>
  </section>
  <section>
    <p><abbr>ABC</abbr></p>
    <p><mark>The quick brown fox jumps over the lazy dog, while the quick brown fox jumps.</mark></p>
    <p><strong>The quick brown fox jumps over the lazy dog, while the quick brown fox jumps.</strong></p>
    <p><em>The quick brown fox jumps over the lazy dog, while the quick brown fox jumps.</em></p>
    <p><sub>123</sub></p>
    <p><sup>123</sup></p>
  </section>
</main>
<%- include('inc/foot') %>
