<%- include('inc/head') %>
<main class="container">
  <section>
    <h1>Typography Elements</h1>
    <h3>Headings</h3>
    <h2>The quick brown fox jumps over the lazy dog, while the quick brown fox jumps over the lazy dog</h2>
    <h3>The quick brown fox jumps over the lazy dog, while the quick brown fox jumps over the lazy dog</h3>
    <h4>The quick brown fox jumps over the lazy dog, while the quick brown fox jumps over the lazy dog and the quick brown fox jumps over the lazy dog</h4>
    <h5>The quick brown fox jumps over the lazy dog, while the quick brown fox jumps over the lazy dog and the quick brown fox jumps over the lazy dog while the quick brown fox jumps over the lazy dog</h5>
    <h6>The quick brown fox jumps over the lazy dog, while the quick brown fox jumps over the lazy dog and the quick brown fox jumps over the lazy dog while the quick brown fox jumps over the lazy dog</h6>
  </section>
  <section>
    <h3>Content</h3>
    <p>Lorem ipsum dolor sit amet, consectetur eu nisl sed porttitor interdum. Nulla dictum ultrices mattis. Praesent elementum lobortis maximus, <a href="#">nisi at diam consectetur mattis venenatis</a>. Vestibulum nec dictum massa. Fusce ornare porta nisl ac finibus. Aenean vehicula ut arcu at posuere. Aliquam sit amet eros ultrices, blandit eros efficitur, rhoncus nibh. Integer ante orci, rhoncus nec iaculis non, vestibulum nec odio. Sed venenatis iaculis viverra ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <p>Nulla dictum ultrices mattis. Praesent elementum lobortis maximus liquam sit amet eros ultrices, blandit eros efficitur, rhoncus nibh. Integer ante orci, rhoncus nec iaculis non, vestibulum nec odio. Sed venenatis iaculis viverra ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <h4>Unordered List</h4>
    <ul>
      <li>The quick brown fox jumps over the lazy dog</li>
      <li>The quick brown fox jumps over the lazy dog</li>
      <li>The quick brown fox jumps over the lazy dog</li>
    </ul>
    <h4>Ordered List</h4>
    <ol>
      <li>The quick brown fox jumps over the lazy dog</li>
      <li>The quick brown fox jumps over the lazy dog</li>
      <li>The quick brown fox jumps over the lazy dog</li>
    </ol>
    <h4>Blockquote</h4>
    <blockquote>Blockquote paragraph Lorem ipsum dolor sit amet, <a href="#">consectetur adipiscing elit</a>. Sed eu nisi at diam consectetur mattis.</blockquote>
    <h4>Address</h4>
    <address>123 Main St<br>Springfield, IL 55555</address>
  </section>
  <section>
    <h3>Inline Elements</h3>
    <table>
      <thead>
        <tr>
            <th>Element</th>
            <th>Example</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="code">abbr</td>
          <td><abbr title="Hypertext Markup Language" class="small">HTML</abbr> is the foundation of the <abbr title="A series of tubes">World Wide Web</abbr></td>
        </tr>
        <tr>
          <td class="code">cite</td>
          <td><cite>Futility UI, The Simple Web Framework</cite></td>
        </tr>
        <tr>
          <td class="code">code</td>
          <td><code>index.html</code></td>
        </tr>
        <tr>
          <td class="code">em</td>
          <td><em>The quick brown fox jumps over the lazy dog</em></td>
        </tr>
        <tr>
          <td class="code">mark</td>
          <td><mark>The quick brown fox jumps over the lazy dog</mark></td>
        </tr>
        <tr>
          <td class="code">q</td>
          <td><q>The quick brown fox jumps over the lazy dog</q></td>
        </tr>
        <tr>
          <td class="code">small</td>
          <td><small>The quick brown fox jumps over the lazy dog</small></td>
        </tr>
        <tr>
          <td class="code">strong</td>
          <td><strong>The quick brown fox jumps over the lazy dog</strong></td>
        </tr>
        <tr>
          <td class="code">sub</td>
          <td>Normal text<sub>sub</sub></td>
        </tr>
        <tr>
          <td class="code">sup</td>
          <td>Normal text<sup>sup</sup></td>
        </tr>
      </tbody>
    </table>
  </section>
  <h6><a class="link-alt" title="Futility UI Home" href="/contents">&larr; Back to Contents</a></h6>
</main>
<%- include('inc/foot') %>
