<%- include('inc/head') %>
<main class="container">
  <section>
    <h1>Futility Utilities</h1>
    <% for (const size_suffix in styles.textSizes) { -%>
      <p class="text-<%= size_suffix %>">.text-<%= size_suffix %> The quick brown fox jumps over the lazy dog, while the quick brown fox jumps over the lazy dog</p>
    <% } %>
  </section>
</main>
<%- include('inc/foot') %>
