:root {
  --color-cloud: #e8e8e8;
  --font-sans: "Open Sans", Helvetica, Arial, sans-serif;
  --font-serif: Georgia, "Times New Roman", serif;
  --text-xl2: 1.75rem;
  --text-xl1: 1.5rem;
  --text-lg: 1.3rem;
  --text-md: 1.05rem;
  --text-base: 0.9rem;
  --text-sm: 0.75rem;
  --text-xs: 0.65rem;
  --w1: 0.3rem;
  --w2: 0.7rem;
  --w3: 1.2rem;
  --w4: 1.8rem;
}

body {
  background-color: #fac65c;
  font-size: 1rem;
  color: black;
  line-height: 1.2;
  font-family: var(--font-serif);
  padding: 0;
  margin: 0;
}

header {
  padding: 0.75rem;
  background-color: var(--color-loyal);
  position: relative;
}

nav {
  background-color: var(--color-loyal);
  margin: 0;
  padding: 0;
}

main {
  margin: 0;
  padding: 1rem 0.75rem 0.75rem 0.75rem;
}

section {
  margin: 0 0 2rem 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-sans);
  color: var(--color-lagoon);
  margin: 0 0 1rem 0;
}

h5 {
  font-size: 0.9rem;
}

nav {
  display: flex;
  justify-content: space-between;
}

ul.list-inline {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border: 3px solid var(--color-limey);
  margin: 0;
}

table th,
table td {
  padding: 0.25rem 0.5rem;
  border: 1px solid var(--color-limey);
  font-size: 0.9rem;
  line-height: 1.1;
}

table th {
  font-weight: bold;
  background-color: var(--color-frog);
  color: var(--color-piney);
  border-bottom-width: 3px;
}

table {
  background-color: #fff;
  margin-bottom: 0.5rem;
}

table th,
table td {
  padding: 0.5rem;
}

/* forms */

form {
  max-width: 600px;
}

fieldset {
  border: 3px solid var(--color-limey);
  padding: 0.75rem 0.75rem 0.35rem;
  margin: 0 0 1rem 0;
  display: block;
  background-color: var(--color-citrus);
}

label {
  font-size: 0.9rem;
  color: var(--color-lagoon);
  line-height: 1.1;
  display: block;
  margin: 0 0 0.5rem 0;
  padding: 0;
  font-weight: bold;
}

input[type="text"] {
  border: 1px solid var(--color-limey);
  border-radius: 3px;
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
  display: block;
  margin: 0 0 0.5rem 0;
}

select {
  display: block;
  border: 1px solid var(--color-limey);
  border-radius: 3px;
  margin: 0 0 1rem 0;
  padding: 0;
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
}

input[type="submit"] {
  padding: 0.5rem 1rem;
  color: #fff;
  background-color: var(--color-tangy);
  margin: 0 0 0.5rem 0;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: var(--color-nectar);
}

textarea {
  margin-bottom: 1rem;
  width: 100%;
}

/* other */

blockquote {
  margin: 0 0 2rem 0;
  padding: 1rem;
  background-color: var(--color-frog);
  border: 2px solid var(--color-limey);
}

/* UTILITY CLASSES */

/* display */
.d-block {
  display: inline !important;
}
.d-inline {
  display: inline !important;
}
.d-inline-block {
  display: inline !important;
}
.d-none {
  display: none !important;
}

/* alignment */
.f-left {
  float: left !important;
}
.f-right {
  float: right !important;
}

/* positioning */
.p-relative {
  position: relative !important;
}
.p-absolute {
  position: absolute !important;
}
.t-1 {
  top: 0.5rem !important;
}
.t-3 {
  top: 1.5rem !important;
}
.r-1 {
  right: 1rem !important;
}

/* margins */
.m-0 {
  margin: 0 !important;
}
.mb-0 {
  margin-bottom: 0 !important;
}
.mt-1 {
  margin-top: 0.5rem !important;
}
.mb-1 {
  margin-bottom: 0.5rem !important;
}
.ml-1 {
  margin-left: 0.5rem !important;
}
.mr-1 {
  margin-right: 0.5rem !important;
}

/* padding */
.pl-1 {
  padding-left: 0.5rem !important;
}
.pr-1 {
  padding-right: 0.5rem !important;
}
.py-1 {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}
.py-3 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}
.px-1 {
  padding-left: 0.25rem !important;
  padding-right: 0.25rem !important;
}

/* text size */
.text-xl {
  font-size: 3rem !important;
}
.text-lg {
  font-size: 2rem !important;
}
.text-md {
  font-size: 1.5rem !important;
}
.text-sm {
  font-size: 0.9rem !important;
}
.text-xs {
  font-size: 0.75rem !important;
}

/* text weight */
.text-bold {
  font-weight: bold !important;
}
.text-normal {
  font-weight: normal !important;
}

/* text alignment */
.text-center {
  text-align: center !important;
}
.text-right {
  text-align: right !important;
}

/* text transform */
.text-uppercase {
  text-transform: uppercase !important;
}

/* width */
.w-1px {
  width: 1px !important;
}
.w-40px {
  width: 40px !important;
}
.w-50px {
  width: 50px !important;
}
.w-65px {
  width: 65px !important;
}
.w-100px {
  width: 100px !important;
}
.w-120px {
  width: 120px !important;
}
.w-140px {
  width: 140px !important;
}
.w-175px {
  width: 175px !important;
}
.w-250px {
  width: 250px !important;
}
.w-325px {
  width: 325px !important;
}
.w-350px {
  width: 350px !important;
}
.w-375px {
  width: 375px !important;
}
.w-600px {
  width: 600px !important;
}

/* width percentages */
.w-20 {
  width: 20% !important;
}
.w-25 {
  width: 25% !important;
}
.w-30 {
  width: 30% !important;
}
.w-33 {
  width: 33% !important;
}
.w-35 {
  width: 35% !important;
}
.w-50 {
  width: 50% !important;
}
.w-100 {
  width: 100% !important;
}

/* border width */
.border-1px {
  border-top-width: 1px !important;
}
.border-2px {
  border-top-width: 2px !important;
}
.border-3px {
  border-top-width: 3px !important;
}

/* color classes */
.text-cloud {
  color: var(--color-cloud) !important;
}
.bg-cloud {
  background-color: var(--color-cloud) !important;
}
.border-cloud {
  border-color: var(--color-cloud) !important;
}
