<%- include('inc/header') %>
<main class="row">
  <article class="container">
    <section>
      <h1>Title Goes Here</h1>
      <h4>Byline Goes here</h4>
    </section>
    <section></section>
  </article>
  <section>
    <%- include('inc/comments') %>
  </section>
</main>
<%- include('inc/footer') %>
