<%- include('inc/header') %>
<main class="row">
  <article class="container">
    <section>
      <h3>Welcome to Minimos</h3>
      <p>These additional pages are available:</p>
      <ul>
        <li><a href="/404">404</a></li>
        <li><a href="/article">Article</a></li>
        <li><a href="/colors">Colors</a></li>
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/form">Form</a></li>
        <li><a href="/landing">Landing Page</a></li>
        <li><a href="/layout-2col">Layout Demo (2-col)</a></li>
        <li><a href="/layout-3col">Layout Demo (3-col)</a></li>
        <li><a href="/table">Table</a></li>
        <li><a href="/typography">Typography</a></li>
      </ul>
    </section>
  </article>
</main>
<%- include('inc/footer') %>
