<%- include('inc/header') %>
<main class="row">
  <div class="container">
    <article class="w-66">

    </article>
    <aside class="w-33">

    </aside>
  </div>
</main>
<%- include('inc/footer') %>
