<%- include('inc/head') %>
<main class="container">
  <section>
    <table>
      <thead>
        <tr>
          <th>Mon</th>
          <th>Tue</th>
          <th>Wed</th>
          <th>Thu</th>
          <th>Fri</th>
          <th>Sat</th>
          <th>Sun</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Red</td>
          <td>Orange</td>
          <td>Yellow</td>
          <td>Green</td>
          <td>Blue</td>
          <td>Indigo</td>
          <td>Violet</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td>January</td>
          <td>Feburary</td>
          <td>March</td>
          <td>April</td>
          <td>May</td>
          <td>June</td>
          <td>July</td>
        </tr>
      </tfoot>
  </section>
  <section>
    <table>
      <tbody>
        <tr>
          <th>Mon</th>
          <td>John</td>
          <td>August</td>
          <td>Alpha</td>
        </tr>
        <tr>
          <th>Tue</th>
          <td>Paul</td>
          <td>September</td>
          <td>Beta</td>
        </tr>
        <tr>
          <th>Wed</th>
          <td>George</td>
          <td>November</td>
          <td>Delta</td>
        </tr>
        <tr>
          <th>Thu</th>
          <td>Ringo</td>
          <td>December</td>
          <td>Gamma</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th>Totals</th>
          <td>99</td>
          <td>555</td>
          <td>1999</td>
        </tr>
      </tfoot>
  </section>
</main>
<%- include('inc/foot') %>
