<%- include('inc/header') %>
<main class="row">
  <article class="container">
    <section>
      <h3>Table Example</h3>
      <% include('inc/typography-demo.php') %>
    </section>
  </article>
</main>
<%- include('inc/footer') %>
